@import('less/variables.less');
@import('variables.less');


//el custom css de secondary.less

//estilo para el login en landing page
.btn-link{
	text-decoration: none;
}
.login-page{
	.login{
		.btn{
			border: none;
			color: #FFF;
		}
		
	}
}
//end login en landing page

//rediseñando el estilo del admin dasboard

//cambiando estilos de las clases del adminlte

.skin-blue{
	.main-header{
		.navbar,.user-header,.logo{
			background-color: #213550;
		}
		.logo:hover{
			background-color: transparent;
		}
	}
}